{% extends 'base.html.twig' %}

{% block title %}Reinitialisation de Mot de Passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Reinitialisation de Mot de Passe</h1>

            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>
{% endblock %}
